.header{
    padding: var(--spacing-large) var(--spacing-xlarge);
    background-color: var(--background-color);
}

.header-top-container, .header-bottom-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-search-container{
    width: 60%;
}

.header-sell-now-btn{
    font-weight: 600 !important;
}

.header-sell-now-btn-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 20%;
}

.header-sell-now-btn-container > * {
    flex: 1; /* Equal width for both items */
    margin: 0 5px; /* Adjust margin as needed */
    box-sizing: border-box;
}

.header-login-link{
    background-color: var(--primary-color);
    color: var(--secondary-text-color);
    padding: var(--spacing-xsmall) var(--spacing-large);
    border-radius: var(--spacing-xsmall);
    text-decoration: none;
}

.header-dropdown-item{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: var(--primary-text-color);
}
.header-dropdown-item-text{
    margin-left: var(--spacing-small);
}

.header-bottom-container{
    margin-top: var(--spacing-large);
}

.header-catygory-btn{
    background-color: #ffffff !important;
}

.header-catygory-btn-active{
    background-color: var(--background-color) !important;
    color: var(--primary-text-color) !important;
    font-weight: 500 !important;
}

.header-product-btn{
    background-color: #28a745; /* Default green color */
    border-color: #28a745; /* Border color same as background */
    color: #ffffff; /* Text color */
}

/* Custom active style for the success button */
.header-product-btn.active,
.header-product-btn:active,
.header-product-btn:focus,
.header-product-btn:hover {
    background-color: #218838; /* Darker green for active state */
    border-color: #1e7e34; /* Darker border color */
    color: #ffffff; /* Text color */
}

/* Additional style for active state when activeCategory is null */
.header-product-btn-active {
    background-color: #218838; /* Darker green for active state */
    border-color: #1e7e34; /* Darker border color */
    color: #ffffff; /* Text color */
  }


.header-cart-notifications-cont{
    width: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-cart-notifications-cont > span:hover{
    color: var(--bs-success) !important
}