
    .footer {
      background-color: var(--background-color);
      font-size: x-small;
    }
    
    .footer a {
      transition: color 0.3s;
    }
    
    .footer a:hover {
      color: inherit; /* Remove explicit color */
    }

    .footer .footer-title {
      font-size: larger;
    }
    
    .hover-text-success:hover {
      color: var(--bs-success) !important;
    }
    
  