.filter-by {
    width: 250px;
    background-color: var(--background-color);
    padding: var(--spacing-medium);
    border-radius: var(--border-radius-medium);
    box-shadow: var(--box-shadow-light);
  }
  
  .price-filter {
    margin-bottom: var(--spacing-medium);
  }
  
  .price-filter label {
    display: block;
    margin-bottom: var(--spacing-small);
  }
  
  .horizontal-slider {
    width: 100%;
    margin-top: var(--spacing-small);
    margin-bottom: var(--spacing-small);
  }
  
  .slider-values {
    display: flex;
    justify-content: space-between;
    font-size: var(--font-size-small);
  }
  
  .category-filter {
    margin-top: var(--spacing-medium);
  }
  
  .category-filter label {
    margin-left: var(--spacing-small);
  }
  
  .category-filter div {
    margin-bottom: var(--spacing-small);
  }