.products{
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  width: 100%;
  overflow-x: hidden;
  display: flex;

}

.products-filter-by{
  width: 20%;
  position: relative;
}

.products-filter-by-item{
  height: calc(100vh - var(--header-height)); 
  position: fixed;
  width: calc(1280px / 5);
}

.prducts-cards{
  width: 80%;
  padding: var(--spacing-xlarge);
}
.scrollable-products {
    min-height: 100%;
  }